<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Handout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Handout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_DCommand" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="0" maxStringContentLength="40000000" maxArrayLength="25000000" maxBytesPerRead="25000000"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_DCommand" receiveTimeout="00:01:02" sendTimeout="00:01:01" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="0" maxStringContentLength="40000000" maxArrayLength="25000000" maxBytesPerRead="25000000"/>
          <!-- http -->
          <security mode="None"/>
          <!-- https -->
          <!--<security mode="Transport" >
            <transport clientCredentialType="None"/>
          </security>-->
        </binding>

        <binding name="WSHttpBinding_DCommandSC" maxReceivedMessageSize="204800000">
          <readerQuotas maxStringContentLength="204800000"/>
          <security mode="None"/>
        </binding>
        <binding maxReceivedMessageSize="2147483647" name="WSHttpSecureBinding_DCommand" receiveTimeout="00:01:02" sendTimeout="00:01:01">
          <readerQuotas maxArrayLength="25000000" maxBytesPerRead="25000000" maxDepth="0" maxStringContentLength="40000000"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- dermalog-ghana-afis-webservice: QA -->
      <endpoint address="http://10.120.200.241:8080/ghana-afis-webservice/DCommand/soap" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_DCommand" contract="DotNetServiceReference.DCommand" name="CurrentBinding_GhanaHQService"/>
      <!-- dermalog-ghana-afis-webservice: SIM -->
      <!--<endpoint address="https://gha20801-webservice.dc.dermalog.com:444/ghana-afis-webservice/DCommand/soap" binding="wsHttpBinding" bindingConfiguration="WSHttpSecureBinding_DCommand" contract="DotNetServiceReference.DCommand" name="CurrentBinding_GhanaHQService"/>-->

      <!-- dermalog-ghana-afis-webservice: Live System -->
      <!--<endpoint address="https://ghasrv01.nia.gov.gha:444/ghana-afis-webservice/DCommand/soap" binding="wsHttpBinding" bindingConfiguration="WSHttpSecureBinding_DCommand" contract="DotNetServiceReference.DCommand" name="CurrentBinding_GhanaHQService" />-->
      <!-- dermalog-ghana-afis-webservice: Cluster Live -->
      <!--<endpoint address="https:// webservice.nia.gov.gha:443/ghana-afis-webservice/DCommand/soap" binding="wsHttpBinding" bindingConfiguration="WSHttpSecureBinding_DCommand" contract="DotNetServiceReference.DCommand" name="CurrentBinding_GhanaHQService" />-->

      <!-- scalibur chip card reader service -->
      <endpoint address="http://localhost:8084/SCaliburDCommandService/DCommand/soap" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_DCommandSC" contract="DCommand.DCommand" name="WSHttpBinding_DCommandSC"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Handout.Properties.Settings>
      <setting name="MaxLogFiles" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="FingerQualityRed" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="FingerQualityYellowSpan" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="ContinueWithBadQualityAttempts" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FingerNumberRequired" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BadQualityPenaltyTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PenaltyTimeInSec" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DuplicateThreshold" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="TimespanForErrorTitle" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="BadQualityCrossMatchingThreshold" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CrossMatchThreshold" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="HttpPort" serializeAs="String">
        <value>8084</value>
      </setting>
      <setting name="SCaliburCheckDelay" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SCaliburCheckRetires" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CertificateDirectory" serializeAs="String">
        <value>C:\Program Files (x86)\DERMALOG\CardReaderService\Certificates</value>
      </setting>
      <setting name="ResultStoragePath" serializeAs="String">
        <value>C:\Users\Xem\AppData\Local\DERMALOG\Dermalog Card Issuing Station\Result</value>
      </setting>
      <setting name="ScannerToUse" serializeAs="String">
        <value>ZF10</value>
      </setting>
      <setting name="PrintReceiptCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReceiptPrinterName" serializeAs="String">
        <value>PT380</value>
      </setting>
      <setting name="IDsThermoPrinter" serializeAs="String">
        <value>VID_6868&amp;PID_0500&amp;MI_00</value>
      </setting>
      <setting name="OnlineIsMandantory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowJavaConsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RegistrationCenterNumber" serializeAs="String">
        <value>NotSet</value>
      </setting>
      <setting name="MrwNumber" serializeAs="String">
        <value>NotSet</value>
      </setting>
      <setting name="LocationID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CardReadName" serializeAs="String">
        <value>ACS ACR1281</value>
      </setting>
      <setting name="PrinterIsNotMandantory" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseTestCalls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScoreNormValue" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="DeNormalizeOnlineScore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExtendedTrace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BarcodeCertificate" serializeAs="String">
        <value>C:\Program Files (x86)\DERMALOG\CardReaderService\Certificates\Barcode.crt</value>
      </setting>
      <setting name="BarcodeCertificateEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CardReadNameCL" serializeAs="String">
        <value>ACS ACR1281 1S Dual Reader PICC</value>
      </setting>
      <setting name="CardReadType" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>CB</string>
            <string>CL</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ShouldReadeIdOnOfficerLogin" serializeAs="String">
        <value>False</value>
      </setting>
    </Handout.Properties.Settings>

  </applicationSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Dermalog.Diagnostics" publicKeyToken="97cac07b8409e999" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1509.0" newVersion="2.0.1509.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Dermalog.Afis.ImageContainer" publicKeyToken="97cac07b8409e999" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Handout.Properties.Settings>
      <setting name="MOCMinFingerMatched" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="KeyAESIV" serializeAs="String">
        <value>Dermalog</value>
      </setting>
      <setting name="ShouldOnlineValidateAllFingersAtOnce" serializeAs="String">
        <value>True</value>
      </setting>
    </Handout.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add initializeData="CardIssuing.txt" type="Dermalog.Common.Tracelistener.CircularTraceListener, Dermalog.Common.Tracelistener" name="CardIssuingTraceLoggingListener" traceOutputOptions="None" MaxFileSize="100MB" MaxFileCount="10"/>
      </listeners>
    </trace>
    <sources>
      <source name="JavaLog" switchValue="Error" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="javaLogListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="javaLogListener" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener" initializeData="javaScalibur.log">
      </add>
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
